#listOfVms{
display: flex;
    justify-content: space-between;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.rowText{
    text-align:center;
    width: 25%;
}


#vmListTitle{
    display: flex;
    width: 30%;
    justify-content: space-between;
}