<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add vm to customer</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mainContent.css">
</head>
<body>

<div th:replace="/navbar :: navbar">
</div>
<div class ="mainContent">
<h1 th:text="${customer.name}"></h1>



<form action="/LinkVmToCustomer" method="GET">
    <label for="hv">Choose hypervisor where vm resides</label>
    <select name="customer" id ="customer">
        <option th:text="${customer.name}"></option>
    </select>
    <select  name="hv" id="hv">
        <option  th:each="hv: ${hv}">
            <span  th:text="${hv.hypervisorName}"></span>
        </option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
</div>

</body>
</html>