<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mainContent.css">
    <link rel="stylesheet" href="/css/indexCss.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div th:replace="/navbar :: navbar">
</div>
<div class ="mainContent">
    <h2> ISN Capacity </h2>

    <div class="links">
        <div>
            <h2><a href="/updatedata"> Update data </a></h2>
        </div>
        <div>
            <h2><a href="/AllHypervisors"> All hypervisors </a></h2>
        </div>


        <div>
            <h2><a href="/AllCustomers">View all customers</a></h2>
        </div>

    </div>

</div>
</body>
</html>